(
    axes: {
    },
    actions: {
        "CameraMoveUp": [
            [Key(Up)]
        ],
        "CameraMoveDown": [
            [Key(Down)]
        ],
        "CameraMoveLeft": [
            [Key(Left)]
        ],
        "CameraMoveRight": [
            [Key(Right)]
        ],
        "MoveButton": [
            [Key(M)]
        ],
        "AttackButton": [
            [Key(A)]
        ],
    },
)